body, html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.navigation {
  width: 100%;
  /* overflow: hi; */
  box-sizing: 6px 12px 12px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid red;
  height: 100px;
  position: absolute;
  top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.typedWelcomeNote {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 5px 15px;
  height: 30px;
  clear: both;
  border: 1px solid blue;
}

.logoBox {
  width: 12%;
  height: 120px;
  float: left;
  border: 1px solid yellow;
}

.menus {
  width: 88%;
  padding: 10px 15px;
  border: 1px solid pink;
  float: left;
  height: 50px;
}
